<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text>
          Hello {{ jsonData.user.name }},
          <br/>
          Thank you for your recent purchase of {{ jsonData.usine.name }}.
        <mj/text>
        <mj-text>
            la légende {{ jsonData.usine.legend}}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
