mjml
  mj-head
    mj-title Mon Email MJML
  mj-body(background-color="#210325")
    mj-section
      mj-column
        mj-text Bonjour, ceci est un email MJML généré depuis Pug !
        mj-text un nouvel essai